#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.app-header {
  text-align: left;
  margin-bottom: 2rem;
}

.app-title {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fdfcf8;
  margin: 0;
}

.app-title-icon {
  width: 50px;
  height: 50px;
}

.app-subtitle {
  font-size: 1rem;
  color: #fdfcf8;
  margin-top: 0.5rem;
}

body {
  background-color: #324643;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}